@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
}
.helvetica-font {
  font-family: "Helvetica Neue", sans-serif;
}

.montserrat-font {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-link-button {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.nav-link-button:hover {
  color: #c6ac96 !important;
}

/* For iPad Pro and below devices (max-width 1024px) */
@media only screen and (max-width: 1114px) {
  .seller-info-ipad {
    margin-top: 20px !important;
  }
  .sell-item-btn {
    width: 107px !important;
  }
  .navbar-brand-logo {
    width: 126px !important;
    height: 28px !important;
  }

  .search-field {
    max-width: 270px !important;
  }
  /* hide nav web */
  /* .navbar-web {
    display: none !important;
  } */

  .product-right-side {
    padding-top: 12px !important;
    padding-left: 17px !important;
  }
  .product-right-side h2 {
    font-size: 37px !important;
  }
  .product-right-side-subheading {
    font-size: 20px !important;
  }
  .product-right-side-add-to-bag {
    width: 198px !important;
  }
  .Trusted {
    font-size: 11px !important;
    margin-left: 2px !important;
  }
  .terms-conditiopns {
    margin-left: 2px !important;
  }
  .trust-section-desc {
    font-size: 10px !important;
  }
  /* header  for ipads */
  .header-font {
    font-size: 14px !important;
    gap: 18px !important;
  }

  /* for product details thumbnails */
  #thumnails-ipad {
    height: 90px !important;
    width: 77px !important;
  }
}

/* For mobile phones */

@media only screen and (max-width: 550px) {
  /* product detail page */
  .product-right-side {
    padding-top: 12px !important;
    /* background-color: red !important; */
    margin: 0px !important;
    padding: 16px !important;
    background-color: #fcfaf9 !important;
  }

  .you-may-also-like-top {
    padding-left: 9px !important;
  }
  .more-from-this-seller-top {
    padding-left: 9px !important;
  }
  .bagsbuttons {
    display: flex !important;
    justify-content: space-between !important;
  }
  .add-to-bag {
    width: 70% !important;
    flex-grow: 0 !important;
  }
  .make-offer {
    width: 30% !important;
    flex-grow: 0 !important;
  }
  .product-right {
    background-color: white !important;
  }
}

/* hide product left slider web till 1000*/
@media only screen and (max-width: 1000px) {
  /* addign on mobile side so content is visible */
  body {
    padding-bottom: 60px !important;
  }

  /* hide nav web */
  .navbar-web {
    display: none !important;
  }
  .libas-web-slider-container {
    display: none !important;
  }

  /* product details right side */
  .product-right {
    margin-top: 44px !important;
  }
  .product-right-heading {
    font-size: 32px !important;
  }

  .product-right-side-subheading {
    font-size: 14px !important;
  }

  .product-right-side-price {
    margin-top: 17px !important;
  }

  .mobile-hidee {
    display: none !important;
  }
  .authentication {
    margin-top: 20px !important;
  }
  .auth {
    font-size: 10px !important;
  }
  .auth-2 {
    font-size: 8px !important;
  }

  .product-right-side-add-to-bag {
    font-size: 14px !important;
    width: 70% !important;
  }
  .product-right-side-make-an-offer {
    font-size: 12px !important;
    width: 111px !important;
    padding: 0px !important;
  }
  .card-title {
    font-size: 18px !important;
  }
  .card-oldprice {
    font-size: 10px !important;
  }
  .card-newprice {
    font-size: 12px !important;
  }
  .also-like-heading {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .size-cond {
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  .avatar-product {
    font-size: 22px !important;
    font-weight: 400 !important;
    height: 42px !important;
    width: 42px !important;
  }

  .product-detail-border {
    max-width: 100% !important;
  }

  .description-left-section-mobile {
    padding: 12px !important;
  }
  .quality-control-right-section-mobile {
    padding: 14px !important;
  }

  .more-from-this-seller-top {
    margin-top: 1px !important;
  }
  .you-may-also-like-top {
    margin-top: 1px !important;
  }
  .report-text {
    font-size: 12px !important;
  }
  .report-btn-mobile {
    width: 100% !important;
    height: 40px !important;
  }
}
/* show  product left slider mobile */
@media only screen and (min-width: 1000px) and (max-width: 6024px) {
  .libas-mobile-slider-container {
    display: none !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 6024px) {
  .navbar-mobile {
    display: none !important;
  }
}
/* on bigger screens */

@media only screen and (min-width: 1114px) and (max-width: 6024px) {
  .product-detail-carousel-left-arrow {
    left: -45px !important;
  }
  .product-detail-carousel-right-arrow {
    right: -45px !important;
  }
}
/* Hidden by default */
.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  top: 60px; /* Adjust based on your Navbar height */
  left: 0;
  transition: all 0.3s ease-in-out;
}

/* ------------------------------------When menu is open mobile*/
.mobile-menu.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
  z-index: 999;
}

/* When menu is closed */
.mobile-menu.closed {
  display: none;
  opacity: 0;
  transform: translateY(-20px); /* Slide up effect when closed */
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-menu ul li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #c6ac96;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: block;
}

.mobile-menu ul li a:hover {
  background-color: #f5f5f5;
}

/*-------------------------------- Full-Screen Modal Styling (produvt-details) -------------------*/
.full-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

/* Modal Image */
.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
}

/* Close Icon */
.modal-close-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #c6ac96;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal-close-icon:hover {
  color: #c6ac96;
}

/*---------------------- Arrows for product detail expand modal--------------------------- */
.modal-arrow {
  position: absolute;
  color: #c6ac96;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal-arrow:hover {
  color: #c6ac96;
}

.left-arrow {
  left: 40px;
}

.right-arrow {
  right: 40px;
}
/* when frequency selecting any image dont do blue */
/* Browsers apply an overlay effect when an image is selected. Try disabling selection using CSS: */
.image-remove-blue-effect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* -------------------------------------React slick for allowing user to select text */
.slick-slider {
  user-select: text !important;
}
.slick-slide {
  user-select: text !important;
}
